@font-face {
    font-family: 'TheinMed';
    src: url('fonts/Theinhardt-Medium.otf');
  }
  @font-face {
    font-family: 'TheinReg';
    src: url('fonts/Theinhardt-Regular.otf');
  }
  @font-face {
    font-family: 'TheinRegIta';
    src: url('fonts/Theinhardt-RegularIta.otf');
  }
  @font-face {
    font-family: 'TheinThin';
    src: url('fonts/Theinhardt-Thin.otf');
  }
  @font-face {
    font-family: 'TheinLight';
    src: url('fonts/Theinhardt-Light.otf');
  }
  @font-face {
    font-family: 'TheinLightIta';
    src: url('fonts/Theinhardt-LightIta.otf');
  }
  @font-face {
    font-family: 'TheinBold';
    src: url('fonts/Theinhardt-Bold.otf');
  }
  @font-face {
    font-family: 'TheinBoldIta';
    src: url('fonts/Theinhardt-BoldIta.otf');
  }
  @font-face {
    font-family: 'TheinHeavy';
    src: url('fonts/Theinhardt-Heavy.otf');
  }

:root {
    --blue: #0c3cb4;
    --tan: #f7e5d6;
    --mywhite: #fdfdfd;
    --lightblack: #222222;
}

body {
    font-family: "TheinReg", sans-serif;
    font-size: 16px;
    background-color: var(--tan);
    color: var(--lightblack);
}

a {
    text-decoration: none;
}

header {
    background-color: var(--mywhite);
    padding: 20px;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}

header svg {
    width: 200px;
    margin: 0 0 0 25px;
}

header svg path {
    fill: var(--blue);
    transition: 0.2s fill ease-in;
}

header svg:hover path {
    fill: var(--lightblack);
}

header a.portfolio {
    border: 1.0px solid var(--blue);
    color: var(--blue);
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    transition: 0.2s color ease-in, 0.2s border-color ease-in;
    margin: 0 25px 0 0;
    display: flex;
    align-items: center;
}

header a.portfolio svg {
    margin: 0 0 0 5px;
    width: 14px;
}

header a.portfolio:hover {
    border-color: var(--lightblack);
    color: var(--lightblack);
}

header a.portfolio:hover svg path {
    fill: var(--lightblack);
}

h1 {
    font-family: "TheinHeavy", serif;
    font-weight: 700;
    font-size: 3.5rem;
    color: var(--blue);
}

section {
    height: 100vh;
}

#intro {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

#intro p {
    max-width: 600px;
    box-sizing: border-box;
    padding: 0 25px;
}
p strong {
    font-family: TheinBold;
    font-weight: 400;
}

.scroll-arrow {
    width: 100%;
    align-self: flex-end;
    text-align: center;
    height: 60px;
    margin-top: 60px;
}

.scroll-arrow svg {
    -webkit-animation: fadeInUp 1s ease-out, arrowBounce 1s 1.5s infinite ease-in-out;
    animation: fadeInUp 1s ease-out, arrowBounce 1s 1.5s infinite ease-in-out;
    fill: var(--blue);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 10%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes arrowBounce {
    from,
    20%,
    53%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0, 0, 0);
    }
    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -25px, 0);
    }
    70% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -15px, 0);
    }
    90% {
        transform: translate3d(0, -6px, 0);
    }
}

#section1 {
    z-index: 6;
}

#section2 {
    z-index: 4;
}

#section3 {
    z-index: 3;
}

#section4 {
    z-index: 2;
}

#bottom {
    min-height: 100vh;
    height: 100%;
    z-index: 1;
}

section.light,
section.dark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}
section.light {
    background-color: var(--mywhite);
}
section.dark {
    background-color: var(--tan);
}

section.dark h1 {
    text-align: left;
}

.big-number {
    position: relative;
    font-size: 15vw;
    font-weight: 900;
    z-index: 0;
    align-self: flex-start;
    font-family: 'Playfair Display', serif;
}

section.light .big-number {
    color: var(--tan);
}

section.dark .big-number {
    color: var(--mywhite);
}

.intro-main-container {
    margin-top: 100px;
}

.main-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    padding: 0 25px;
}

.main-container img {
    width: 100%;
    max-width: 300px;
}

.text-container {
    width: 100%;
    max-width: 550px;
    box-sizing: border-box;
}

section.light .text-container {
    padding: 0 0 0 50px;
}

section.dark .text-container {
    padding: 0 50px 0 0;
}

p {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.3;
}

p strong {
    font-weight: 500;
}

section.dark p {
    text-align: left;
}

section p a, #bottom p a {
    color: var(--lightblack);
    transition: 0.2s background-color ease-out, 0.2s color ease-out;
    padding: 3px 1px 3px 1px;
    border-bottom: 2.0px solid var(--blue);
}

section p a:hover, #bottom p a:hover {
    color: var(--blue);
}

section.light p a, #bottom p a {
    background-color: var(--mywhite);
}

section.light p a:hover, #bottom p a:hover {
    background-color: var(--tan);
}

section.dark p a {
    background-color: var(--tan);
}

section.dark p a:hover {
    background-color: var(--mywhite);
}


#bigno1 {
    top: -30%;
}

#bigno2,
#bigno3,
#bigno4 {
    top: -10%;
}

#bigno1 {
    opacity: 0;
}

#bigno2 {
    font-size: 18vw;
}

#bigno3 {
    font-size: 30vw;
}

#trigger1top {
    position: relative;
    top: 80vh;
}

#trigger1mid {
    top: 150vh;
    position: absolute;
}

#trigger2top {
    position: relative;
    top: 300vh;
}

#trigger2mid {
    top: 350vh;
    position: absolute;
}

#trigger3top {
    position: relative;
    top: 500vh;
}

#trigger3mid {
    position: relative;
    top: 550vh;
}

#trigger4top {
    position: relative;
    top: 700vh;
}

#trigger4mid {
    position: relative;
    top: 750vh;
}

#animate2image,
#animate4image {
    position: relative;
    left: 100%;
    transform: rotate(120deg);
    opacity: 0;
}

#main2,
#main4 {
    transform: translateX(-25px);
    opacity: 0;
}

#animate1image,
#animate3image {
    position: relative;
    left: -100%;
    transform: rotate(120deg);
    opacity: 0;
}

#main1,
#main3 {
    transform: translateX(25px);
    opacity: 0;
}

#bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    background: var(--mywhite);
}

#bottom h1 {
    color: var(--blue);
    text-align: center;
    box-sizing: border-box;
    padding: 0 25px;
}

#bottom p {
    max-width: 800px;
    box-sizing: border-box;
    padding: 0 35px;
}

.btn-container {
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 25px 0;
    box-sizing: border-box;
    padding: 0 25px;
}

.btn-container a {
    font-family: TheinMed;
    font-size: 1.5rem;
    line-height: 1.4;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px 8px 20px;
    width: 220px;
    transition: 0.2s all ease-in;
    margin: 25px 20px 0 20px;
    min-height: 78px;
    box-sizing: border-box;
}

.btn-container a.blue {
    background-color: var(--blue);
    border: 1.0px solid var(--lightblack);
    color: var(--mywhite);
    box-shadow: 5px 5px var(--lightblack);
}

.btn-container a.blue:hover {
    color: var(--mywhite);
    background-color: #3F6FE9;
    box-shadow: 7px 7px var(--lightblack);
}

.btn-container a.white {
    color: var(--blue);
    border: 1.0px solid var(--blue);
    box-shadow: 5px 5px var(--blue);
}

.btn-container a.white:hover {
    color: #3F6FE9;
    border-color: #3F6FE9;
    box-shadow: 7px 7px #3F6FE9;
}

@media all and (max-height: 850px) {
    h1 {
        font-size: 3.0rem;
    }
    p {
        font-size: 1.3rem;
        max-width: 600px;
        line-height: 1.4;
    }
    .btn-container a {
        font-size: 1.25rem;
    }
}

@media all and (max-height: 750px) {
    h1 {
        margin: 22px 0;
    }
}

@media all and (max-width: 700px) {
    .main-container img {
        max-width: 200px;
    }
}

@media all and (max-height: 700px) {
    .main-container img {
        max-width: 150px;
    }
}

@media all and (max-width: 600px) {
    header svg {
        width: 140px;
        margin: 0;
    }
    header a.portfolio {
        margin: 0;
    }
}

@media all and (max-width: 550px) {
    .main-container {
        flex-flow: column nowrap;
    }
    section.light,
    section.dark {
        padding-top: 72px;
    }
    section.light .text-container,
    section.dark .text-container {
        order: 2;
        padding: 0;
    }
    section.light h1,
    section.dark h1 {
        text-align: center;
    }
    section.dark p {
        text-align: left;
    }
    p {
        font-size: 1.0rem;
    }
}

@media all and (max-width: 445px) {
    header img {
        width: 160px;
    }
    header a.portfolio {
        font-size: 0.8rem;
        padding: 8px 12px;
    }
}

@media all and (max-height: 650px) {
    .main-container img {
        display: none;
    }
}