body {
  background-color: $mywhite;
  font-family: 'TheinReg';
}
h1 {
  font-family: 'Playfair Display';
  color: $blue;
}
a {
  color: $blue;
  transition: color 0.2s;
}
a:visited {
  color: $blue;
}
a:hover {
  color: $blue20;
}
p {
  font-size: 1.25em;
  letter-spacing: 0.5px;
  margin: 12px 0;
  line-height: 1.5;
}
header {
  a {
    text-decoration: none;
    transition: 0.3s color;
  }
  a:hover {
    color: $softblack;
  }
  .container {
    display: grid;
    max-width: 1000px;
    grid-template-columns: 12fr;
    margin: 0 auto;
    padding: 0 50px;
    nav {
      align-self: center;
      a {
        font-size: 1.2em;
        margin-right: 30px;
        font-family: TheinLight;
        letter-spacing: 1px;
      }
    }
  }
  h1 {
    font-size: 50px;
    letter-spacing: -2.25px;
    grid-column-start: 5;
    svg {
      width: 235px;
      height: 44px;
      path {
        fill: $blue;
      }
    }
    svg:hover {
      path {
      fill: $softblack;
      }
    }
  }
}
.main-body {
  background-color: $tan;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  h1 {
    width: 100%;
    max-width: 800px;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: -1.5px;
  }
  p {
    width: 100%;
    max-width: 700px;
  }
}
.white-block,
.tan-block {
  padding: 50px 25px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
}
.white-block {
  background-color: $mywhite;
}
.tan-block {
  background-color: $tan;
}
.single-image {
  width: 750px;
  margin: 30px 0 10px 0;
}

.buttons {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  margin-top: 50px;
  a {
    margin: 0 10px;
    text-decoration: none;
    padding: 20px 33px;
    font-family: TheinMed;
  }
  .blue-btn {
    background-color: $blue;
    color: $mywhite;
    border: 1.0px solid $softblack;
    box-shadow: 5px 5px $softblack;
    transition: 0.25s all ease-in;
  }
  .blue-btn:hover {
    background-color: $blue20;
    box-shadow: 7px 7px $softblack;
  }
  .white-btn {
    background-color: $mywhite;
    color: $blue;
    border: 1.0px solid $blue;
    box-shadow: 5px 5px $blue;
    transition: 0.25s all;
  }
  .white-btn:hover {
    color: $blue10;
    border-color: $blue20;
    box-shadow: 7px 7px $blue20;
  }
}

footer {
  color: $mywhite;
  background-color: $blue;
  text-align: center;
  padding: 15px 0;
}
