body {
  background-color: $mywhite;
  font-family: 'TheinReg';
}
h1 {
  font-family: 'Playfair Display';
  color: $blue;
}
a {
  color: $blue;
  transition: color 0.2s;
}
a:visited {
  color: $blue;
}
a:hover {
  color: $blue20;
}
p {
  font-size: 1.25em;
  letter-spacing: 0.5px;
  margin: 12px 0;
  line-height: 1.5;
}
.master-man {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 124px 1fr 48px;
}
header {
  display: flex;
  align-items: center;
  a {
    text-decoration: none;
    transition: 0.3s color;
  }
  a:hover {
    color: $softblack;
  }
  .container {
    display: grid;
    width: 100%;
    max-width: 1000px;
    grid-template-columns: 374px 235px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 50px;
    align-items: center;
    nav {
      a {
        font-size: 1.2em;
        margin-right: 30px;
        font-family: TheinLight;
        letter-spacing: 1px;
      }
    }
  }
  h1 {
    font-size: 50px;
    letter-spacing: -2.25px;
    margin: 0;
    svg {
      width: 235px;
      height: 44px;
      path {
        fill: $blue;
      }
    }
    svg:hover {
      path {
      fill: $softblack;
      }
    }
  }
}
.main-body {
  background-color: $tan;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  h1 {
    width: 100%;
    max-width: 800px;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: -1.5px;
  }
  p {
    width: 100%;
    max-width: 700px;
  }
}
.white-block,
.tan-block {
  padding: 50px 25px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
}
.white-block {
  background-color: $mywhite;
}
.tan-block {
  background-color: $tan;
}
.single-image {
  width: 100%;
  max-width: 750px;
  margin: 50px 0 10px 0;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  a {
    margin: 0 10px;
    text-decoration: none;
  }
}
.blue-btn, .white-btn {
  font-size: 1.25rem;
  padding: 20px 33px;
  font-family: TheinMed;
  cursor: pointer;
}
.blue-btn {
  background-color: $blue;
  color: $mywhite;
  border: 1.0px solid $softblack;
  box-shadow: 5px 5px $softblack;
  transition: 0.25s all ease-in;
}
a.blue-btn:visited {
  color: $mywhite;
} 
a.blue-btn:hover {
  color: $mywhite;
}
.blue-btn:hover {
  background-color: $blue20;
  box-shadow: 7px 7px $softblack;
}
.white-btn {
  background-color: $mywhite;
  color: $blue;
  border: 1.0px solid $blue;
  box-shadow: 5px 5px $blue;
  transition: 0.25s all;
}
.white-btn:hover {
  color: $blue10;
  border-color: $blue20;
  box-shadow: 7px 7px $blue20;
}

footer {
  color: $mywhite;
  background-color: $blue;
  text-align: center;
  padding: 15px 0;
}
@media (max-width: 740px) { 
  header {
    .container {
      padding: 0 25px;
      grid-template-columns: 374px 150px;
    }
    h1 {
      svg {
        width: 150px;
      }
    }
  }
 }
