.featured-project, .built-with {
    text-transform: uppercase;
    font-size: 12px;
    margin: 0;
    font-family: TheinBold;
}

.built-with {
    color: $blue;
    span {
        color: $softblack;
        display: flex;
        flex-flow: row wrap;
        .tech-slot {
            margin-right: 15px;
            span {
                margin-left: 5px;
            }
        }
    }
}

.portfolio-top {
    h2 {
        font-family: TheinBold;
        font-size: 30px;
        margin-top: 2px;
    }
    a {
        text-decoration: none;
    }
    p {
        font-size: 18px;
    }
}

.portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    margin: 40px 0 80px 0;
    max-width: 1100px;
}

.portfolio-grid-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    .lil-title {
        flex: 100%;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        font-family: TheinBold;
    }
    .lil-image {
        img {
        width: 100%;
        }
    }
    .lil-built-with {
        text-transform: uppercase;
        font-size: 12px;
        margin: 0;
        padding-left: 10px;
        font-family: TheinBold;
    }
}

.flex-row {
    display: flex;
    max-width: 1200px;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.two-thirds-top {
    flex: 1 1 450px;
    width: 100%;
    max-width: 700px;
    padding: 0 25px;
}
.two-thirds {
    flex: 1 1 450px;
    width: 100%;
    max-width: 600px;
    padding: 0 25px;
}
.one-third {
    flex: 1 1 300px;
    max-width: 400px;
    padding: 0 25px;
}
.summary-box {
    background-color: $mywhite;
    border: 1.0px solid $blue;
    box-shadow: 5px 5px $blue;
    margin: 10px 30px;
    width: 100%;
    max-width: 275px;
    padding: 20px;
    h2 {
        margin-top: 0;
        font-family: TheinBold;
        color: $blue;
        text-align: center;
    }
}
.tech-slot {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 8px 0;
    svg {
        width: 20px;
        height: 20px;
    }
    span {
        margin-left: 10px;
    }
}
.white-block-nav, .tan-block-nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    a {
        display: flex;
        padding: 30px 25px;
        align-items: center;
        text-decoration: none;
        font-size: 1.2rem;
        font-family: TheinMed;
        transition: color 0.3s;
        svg {
            width: 18px;
            height: 18px;
            path {
                transition: fill 0.3s;
                fill: $blue;
            }
        }
    }
    a:hover {
        color: $softblack;
        svg {
            path {
                fill: $softblack;
            }
        }
    }
    .left-nav {
        svg {
            margin-right: 15px;
        }
    }
    .right-nav {
        svg {
            margin-left: 15px;
        }
    }
}
.white-block-nav {
    background-color: $mywhite;
}
.tan-block-nav {
    background-color: $tan;
}