.featured-project, .built-with {
    text-transform: uppercase;
    font-size: 12px;
    margin: 0;
    font-family: TheinBold;
}

.built-with {
    color: $blue;
    span {
        color: $softblack;
        display: flex;
        flex-flow: row wrap;
        .tech-slot {
            margin-right: 15px;
            span {
                margin-left: 5px;
            }
        }
    }
}

.portfolio-top {
    h2 {
        font-family: TheinBold;
        font-size: 30px;
        margin-top: 2px;
    }
    a {
        text-decoration: none;
    }
    p {
        font-size: 18px;
    }
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-column-gap: 18px;
    align-items: center;
    justify-items: center;
    margin: 10px 0 60px 0;
    width: 100%;
    max-width: 1000px;
    .lil-title {
        max-width: 300px;
        margin-top: 50px;
    }
    .lil-image {
        flex: 1 1 100px;
        width: 100%;
        max-width: 150px;
        img {
        width: 100%;
        }
    }
  a {
      text-decoration: none;
      font-family: TheinBold;
  }
  a {
      text-align: center;
  }
  .image-and-bw {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      align-self: start;
      width: 100%;
  }
}

.lil-built-with {
    text-transform: uppercase;
    font-size: 12px;
    margin: 0;
    padding-left: 15px;
    font-family: TheinBold;
    width: 100%;
    max-width: 150px;
    flex: 1 2 100px;
}

.flex-row {
    display: flex;
    max-width: 1200px;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.two-thirds-top {
    flex: 1 1 450px;
    width: 100%;
    max-width: 700px;
    padding: 0 25px;
}
.two-thirds {
    flex: 1 1 450px;
    width: 100%;
    max-width: 600px;
    padding: 0 25px;
}
.one-third {
    flex: 1 1 300px;
    max-width: 400px;
    padding: 0 25px;
}
.summary-box {
    background-color: $mywhite;
    border: 1.0px solid $blue;
    box-shadow: 5px 5px $blue;
    margin: 10px 30px;
    width: 100%;
    max-width: 275px;
    padding: 20px 40px;
    box-sizing: border-box;
    h2 {
        margin-top: 0;
        font-family: TheinBold;
        color: $blue;
        text-align: center;
    }
}
.tech-slot {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 8px 0;
    svg {
        width: 20px;
        height: 20px;
    }
    span {
        margin-left: 10px;
    }
}
.white-block-nav, .tan-block-nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    a {
        display: flex;
        padding: 30px 25px;
        align-items: center;
        text-decoration: none;
        font-size: 1.2rem;
        font-family: TheinMed;
        transition: color 0.3s;
        svg {
            width: 18px;
            height: 18px;
            path {
                transition: fill 0.3s;
                fill: $blue;
            }
        }
    }
    a:hover {
        color: $softblack;
        svg {
            path {
                fill: $softblack;
            }
        }
    }
    .left-nav {
        svg {
            margin-right: 15px;
        }
    }
    .right-nav {
        svg {
            margin-left: 15px;
        }
    }
}
.white-block-nav {
    background-color: $mywhite;
}
.tan-block-nav {
    background-color: $tan;
}
@media (max-width: 570px) {
    h2  {
        font-size: 1.2rem;
    }
    .portfolio-grid {
        grid-template-columns: repeat(2, minmax(150px, 1fr))
    }
    .lil-title-1 {
        order: 1;
    }
    .lil-title-2 {
        order: 2
    }
    .iab-1 {
        order: 3;
    }
    .iab-2 {
        order: 4;
    }
    .lil-title-3 {
        order: 5;
    }
    .lil-title-4 {
        order: 6
    }
    .iab-3 {
        order: 7;
    }
    .iab-4 {
        order: 8;
    }
    .lil-title-5 {
        order: 9;
    }
    .lil-title-6 {
        order: 10
    }
    .iab-5 {
        order: 11;
    }
    .iab-6 {
        order: 12;
    }
}